{
  "logs": [],
  "stats": {
    "totalCreated": 0,
    "activeUsers": 0
  },
  "blacklist": [],
  "progress": {},
  "accounts": {},
  "userLimits": {},
  "creationEnabled": true,
  "whitelist": [],
  "whitelistEnabled": false,
  "settings": {
    "accountLimit": 3,
    "trialDurationDays": 3
  }
}
